@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.system-title {
  margin-top: 2%;
  font-size: xx-large;
  font-family: "Playfair Display", serif;
}

div.tabContent {
  margin-left: 5% !important;
  margin-right: 5% !important;
  height: 60vh;
}

.playFair {
  font-family: "Playfair Display", serif !important;
}

.timelineLabelTen {
  background: #ff1414 !important;
  color: aliceblue !important;
}

.timelineLabelNine {
  background: #ff3b3b !important;
  color: aliceblue !important;
}

.timelineLabelEight {
  background: #ff6262 !important;
  color: aliceblue !important;
}

.ui.blue.tabContent::before {
  background: rgb(64, 133, 202) !important;
}

.ui.red.tabContent::before {
  background: rgb(201, 59, 51) !important;
}

.ui.green.tabContent::before {
  background: rgb(89, 182, 85) !important;
}

footer {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  opacity: 0.9;
  color: blue !important;
}

footer:hover {
  opacity: 1;
}

.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.timelineTab {
  height: 48vh !important;
}

.timelineTab > div.items > div.item {
  height: 40vh !important;
}